# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/

# Agenda Secrets (LOCAL ONLY)
Backend/auth_config.json
Backend/tasks.json
Backend/sessions.json

# Node
node_modules/
.DS_Store

# IDE
.vscode/
.idea/
.gemini/
